.ligne_separe_titre{
    width: 1000px;
    height: 3px;
    background-color: red;
    margin-left: 50px;
}

.ligne_separe_corps{
    width: 900px;
    height: 3px;
    background-color: #004b7c;
    
}