<!DOCTYPE html>
<html lang="en" class="align-middle font-italic w-auto" style="border-top-left-radius: 2;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="d-flex flex-row ml-0 row w-100">
            <div class="bg-white container float-none w-25">
</div>
        </div>
        <div class="container">
</div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <div class="align-middle container text-success">
</div>
        <div id="carousel1" class="carousel slide" data-ride="carousel"> 
            <ol class="carousel-indicators"> 
</ol>             
            <div class="carousel-inner"> 
                <div class="carousel-item active"> 
                    <div class="carousel-caption d-none d-md-block"> 
                        <h3>Slide label 1</h3> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
                    </div>                     
                </div>                 
                <div class="carousel-item"> 
                    <div class="carousel-caption d-none d-md-block"> 
                        <h3>Slide label 2</h3> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
                    </div>                     
                </div>                 
                <div class="carousel-item"> 
                    <div class="carousel-caption d-none d-md-block"> 
                        <h3>Slide label 3</h3> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
                    </div>                     
                </div>                 
            </div>             
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> 
            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> 
        </div>
        <div class="container float-none text-left w-100"></div>
        <div class="container d-flex flex-row h-100 w-100">
            <div class="card w-50"> 
</div>
        </div>
        <div class="container"></div>
        <div class="container">
            <form role="form"> 
</form>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
    <div class="container w-25"></div>
    <div class="container" style="background: -webkit-linear-gradient(90deg, rgb(237, 239, 231) 1.80723%, rgb(237, 239, 231) 52.4096%);">
        <div class="container">
            <div class="container d-flex flex-row w-auto" style="background: linear-gradient(90deg, #FFEEEE, #DDEFBB);">
                <img src="armoirie_bf.JPG" width="100">
                <div class="container w-75">
                    <label class="h2 mt-3 text-black-50 text-center w-100">Repertoire des Correspondants de Presse du Burkina Faso</label>
                </div>
            </div>
            <nav class="bg-dark navbar navbar-dark navbar-expand-lg w-100"> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler29" aria-controls="" aria-expanded="false" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-icon"></span> 
                </button>                 
                <div class="collapse navbar-collapse w-100" id="navbarToggler29"> 
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
                        <li class="nav-item active"> 
</li>                         
                        <li class="nav-item"> 
</li>                         
                        <li class="nav-item dropdown"> 
                            <div class="bg-info dropdown-menu" aria-labelledby="navbarDropdownMenuLink30"> 
                                <a class="bg-light border-width-1 dropdown-item text-success text-uppercase" href="#">Ajouter Informations</a> 
                                <a class="dropdown-item" href="#">Another action</a> 
                                <a class="dropdown-item" href="#">Something else here</a> 
                                <a class="dropdown-item" href="#">Dropdown item</a>
                            </div>                             
                        </li>                         
                        <li class="nav-item"> 
</li>
                        <li class="nav-item"> 
</li>
                        <li class="nav-item"> 
                            <a class="nav-link text-light" href="#">ACCUEIL</a> 
                        </li>
                        <li class="nav-item dropdown"> 
                            <a class="dropdown-toggle nav-link text-white" href="#" id="navbarDropdownMenuLink44" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CORRESPONDANT&nbsp;</a> 
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink44" style="background: linear-gradient(90deg, #757F9A, #D7DDE8);"> 
                                <a class="bg-dark dropdown-item text-white" href="#">INTERNATIONAL</a> 
                                <a class="dropdown-item text-white" href="#">NATIONAL</a> 
                            </div>                             
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link text-light" href="#">ACCREDITATION PRESSE</a> 
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link text-white" href="#">INFORMATIONS</a> 
                        </li>
                    </ul>
                    <a class="nav-link" href="#"><b><i>CONNEXION</i></b></a>
                    <a class="nav-link" href="#"><span class="sr-only">COO(current)</span></a> 
                </div>                 
            </nav>
        </div>
        <div class="container">
            <div id="panels1" role="tablist"> 
                <div class="card"> 
                    <div class="card-header" role="tab"> 
                        <h5 class="mb-0"> <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">                                    Collapsible Group Item #1                                </a> </h5> 
                    </div>                     
                    <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#panels1"> 
                        <div class="card-body">                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.                            </div>                         
                    </div>                     
                </div>                 
                <div class="card"> 
                    <div class="card-header" role="tab"> 
                        <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">                                    Collapsible Group Item #2                                </a> </h5> 
                    </div>                     
                    <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#panels1"> 
                        <div class="card-body">                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.                            </div>                         
                    </div>                     
                </div>                 
                <div class="card"> 
                    <div class="card-header" role="tab"> 
                        <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">                                    Collapsible Group Item #3                                </a> </h5> 
                    </div>                     
                    <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#panels1"> 
                        <div class="card-body">                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.                            </div>                         
                    </div>                     
                </div>                 
            </div>
        </div>
        <div class="container d-flex flex-row">
            <div class="card w-50"> 
                <div class="card-body w-100"> 
                    <h4 class="card-title">Card title</h4> 
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> 
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                    <a href="#" class="btn btn-primary">Go somewhere</a> 
                </div>                 
            </div>
            <div class="card w-50"> 
                <div class="card-body w-100"> 
                    <h4 class="card-title">Card title</h4> 
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> 
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                    <a href="#" class="btn btn-primary">Go somewhere</a> 
                </div>                 
            </div>
        </div>
        <div class="container">
            <label>Tous droits reservés au Ministère de la Communication et des Relations avec le Parlement @ 2021</label>
        </div>
    </div>
    <div class="container">
        <div class="d-flex flex-row mw-100 row">
            <div class="container h-100 w-50" style="box-shadow: 2 2; background: linear-gradient(90deg, #314755, #26a0da);">
                <div class="card"> 
</div>
            </div>
            <div class="card w-50"> 
</div>
        </div>
    </div>
</html>
